<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>GromingBank</display-name>
	<filter>
		<description>
		</description>
		<display-name>ChangePwsFilter</display-name>
		<filter-name>ChangePwsFilter</filter-name>
		<filter-class>changePws.ChangePwsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ChangePwsFilter</filter-name>
		<url-pattern>/ChangePwsFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ChangePwsFilter</filter-name>
		<servlet-name>ChangePwsController</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>login.LoginController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BalanceController</display-name>
		<servlet-name>BalanceController</servlet-name>
		<servlet-class>balance.BalanceController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePwsController</display-name>
		<servlet-name>ChangePwsController</servlet-name>
		<servlet-class>changePws.ChangePwsController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TranferAmountController</display-name>
		<servlet-name>TranferAmountController</servlet-name>
		<servlet-class>tranferAmount.TranferAmountController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TranactionController</display-name>
		<servlet-name>TranactionController</servlet-name>
		<servlet-class>tranaction.TranactionController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ForgetPwdController</display-name>
		<servlet-name>ForgetPwdController</servlet-name>
		<servlet-class>forgetPassword.ForgetPwdController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ForgetPwd</display-name>
		<servlet-name>ForgetPwd</servlet-name>
		<servlet-class>forgetPassword.ForgetPwd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BalanceController</servlet-name>
		<url-pattern>/BalanceController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePwsController</servlet-name>
		<url-pattern>/ChangePwsController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TranferAmountController</servlet-name>
		<url-pattern>/TranferAmountController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TranactionController</servlet-name>
		<url-pattern>/TranactionController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgetPwdController</servlet-name>
		<url-pattern>/ForgetPwdController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgetPwd</servlet-name>
		<url-pattern>/ForgetPwd</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
